body{
  background-color: #ffffff;
}

#content{
  max-width: 100%;
  background-color: #ffffff;
  margin: auto;
}
#content ul{
  padding: 0px;
}
#content a:hover{
  color: #5badf0;
}
#wrapper{
  padding: 50px 40px 50px 40px;
}
#header{
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  display: block;
  line-height: 75px;
  font-size: 40px;
}
#header a{
  color: #333;
  text-decoration: none;
}
.post-list li, .post header, .post-body{
  list-style-type: none;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  display: block;
  padding-bottom: 20px;
  font-size: 15px;
}

.post-list a{
	color: #4B4B4B;
	text-decoration: none;
  	background-color: #CAD2D4;
  	padding: 1px 5px;
  	border-radius:2px 2px 2px 2px;
  	-moz-border-radius:2px 2px 2px 2px;
  	-webkit-box-decoration-break: clone;
  	box-decoration-break: clone;
}


.post-list a:hover {
	color: #353535;
	text-decoration: none;
  	background-color: #C4C9CA;
  	padding: 1px 5px;
  	border-radius:2px 2px 2px 2px;
  	-moz-border-radius:2px 2px 2px 2px;
  	-webkit-box-decoration-break: clone;
  	box-decoration-break: clone;
 }


.post-list h2{
  color: #aaa;

}

/* POST CSS */
.post header h1{
  font-size: 30px;
  line-height: 33px;
  color: #222;
}
.post header h2{
  font-size: 22px;
  line-height: 28px;
  color: #aaa;
  font-style: italic;
}

.post-body h2{
  font-size: 19px;
}

.post-body h3{
  font-size: 17px;
}

.post-body ul{
  list-style-type: square;
  padding-left: 40px;
}

.post-body p{
  line-height: 33px;
}


.meta {
  	font-weight: 400;
  	-webkit-font-smoothing: antialiased;
  	font-size: 13px;
  	letter-spacing: 1px;
	color: #4B4B4B;
	text-transform: uppercase;
}

.footer{
  width: 100%;
  text-align: center;
}

.footer a{
  text-decoration: none;
}