#content{
  max-width: 800px;
  margin: auto;
}
#wrapper{
  padding: 50px 40px 50px 40px;
}
#header{
  margin-bottom: 50px;
  border-bottom: 1px solid #eee;
  display: block;
  line-height: 100px;
  font-size: 40px;
}
.post-list li{
  list-style-type: none;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  display: block;
  padding-bottom: 20px;
  font-size: 19px;
  line-height: 1.5;
}

.post-list a{
  color: #333;
  text-decoration: none;
}

.post-list h2{
  color: #aaa;

}
