#content{
  max-width: 800px;
  margin: auto;
}
#content a:hover{
  color: #5badf0;
}
#wrapper{
  padding: 50px 40px 50px 40px;
}
#header{
  margin-bottom: 50px;
  border-bottom: 1px solid #eee;
  display: block;
  line-height: 100px;
  font-size: 40px;
}
#header a{
  color: #333;
  text-decoration: none;
}
.post-list li, .post header, .post-body{
  list-style-type: none;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  display: block;
  padding-bottom: 20px;
  font-size: 19px;
  line-height: 1.5;
}

.post-list a{
  color: #333;
  text-decoration: none;
}

.post-list h2{
  color: #aaa;

}

/* POST CSS */
.post header h1{
  font-size: 30px;
  color: #222;
}
.post header h2{
  font-size: 22px;
  color: #aaa;
  font-style: italic;
}

.post-body h2{
  font-size: 19px;
}

.post-body h3{
  font-size: 17px;
}

.post-body ul{
  list-style-type: square;
  padding-left: 40px;
}
