  {% include head.html %}

  <body>
    <section id="content">
      <section id="outer-container">
        <section id="wrapper">
          <header id="header">
            <a href="{{ site.url }}">{{ site.title }}</a>
          </header>
          <ul class="post-list">
            {% for post in site.posts %}
              <li class="post">
                <p style="line-height: 40px; overflow: hidden;">
                  <a href="{{ post.url }}">{{ post.title }}</a>
                  <br/>
                  {{ post.description }}
                </p>
                <div class="meta">{{post.date | date: '%B %d, %Y'}}</div>
              </li>
            {% endfor %}
          </ul>
        </section>
      </section>
    </section>
    {% include footer.html %}
  </body>
</html>
